{% extends "base.html.j2" %}
{% block title %}Blog{% endblock %}
{% block head %}
{{ super() }}
<style>

img {
  max-width: 100%;
  height: auto;
}
</style>

{% endblock %}
{% block body %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="QxEzkV31"></script>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-twothird">
      {% if posts %}
        {% for blog in posts %}
          <h2> {{ blog.name }} </h2>
          {{ blog.content|safe }}
          <p>
          <a href="{{ url_for('blogs.blog', post=blog.id, page=0, category=None) }}">View</a>
          {% if session['logged_in'] %}
            <a href="{{ url_for('blogs.edit_post', id=blog.id) }}">Edit</a>
            <a href="{{ url_for('blogs.delete_post', id=blog.id) }}">Delete</a>
          {% endif %}
          </p>

          <p>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Look at this cool blog " data-url="{{ url_for('blogs.blog', post=blog.id, page=0, category=None, _external=True) }}" data-hashtags="lifelonglearningrocks" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <div class="fb-share-button" data-href="{{ url_for('blogs.blog', post=blog.id, page=0, category=None, _external=True) }}" data-layout="button_count" data-size="small">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
            </div>
          </p>
        {% endfor %}
      {% endif %}

      <p>
        {% if prev_url %}
          <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
          <a href="{{ next_url }}">Older posts</a>
        {% endif %}
      </p>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-third">
      <h1>Categories</h1>

      <div style="overflow-y: scroll; height:400px;">
        <ul class="w3-ul w3-hoverable">
          {% for category in categories %}
          <li>
            <a href="{{ url_for('blogs.blog', category=category.id, post=None, page=0) }}" class="w3-btn">{{ category.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

{% endblock %}
