{% extends "base.html.j2" %}
{% from "_form_macros.html" import render_field %}
{% block title %}Not Found{% endblock %}
{% block body %}
<div class="content-section">
  <div class="center">
    <h1>Sorry, something bad happened on our side.</h1>
    <p>
      While you are here feel free to send me an email of what you think should be on this error page.
      I am partial to putting a game of snake on it. Send suggestions to kodyrogers21@gmail.com.
    </p>
  </div>
</div>
{% endblock %}
