{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="content-section">
  <div class="center">
    <h1>Login to your account</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <!-- Do something with the message -->
            {{ message }}

        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('author.author_login') }}" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <dl>
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.submit) }}
      </dl>
    </form>
    <p>Any problems with logging in please contact myself at kodyrogers21@gmail.com</p>
  </div>
</div>
{% endblock %}
