<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }} | Lifelong Learning Rocks!</title>
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
</head>
<body>

<!-- Navbar -->
<div class="isolate w3-top">
  <div class="isolate w3-bar w3-black w3-card">
    <a class="isolate w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="smallScreenToggle()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('other.home') }}" class="isolate w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="{{ url_for('other.contact') }}" class="isolate w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
    <a href="{{ url_for('blogs.blog') }}" class="isolate w3-bar-item w3-button w3-padding-large w3-hide-small">Blog</a>
    <a href="{{ url_for('other.building') }}" class="isolate w3-bar-item w3-button w3-padding-large w3-hide-small">Building</a>
    <a href="{{ url_for('worksheets.worksheets_page') }}" class="isolate w3-bar-item w3-button w3-padding-large w3-hide-small">Worksheets</a>
    {% if session['logged_in'] %}
      <a href="{{ url_for('other.admin') }}" class="isolate w3-bar-item w3-button w3-padding-large w3-hide-small">Admin</a>
    {% endif %}
    {% if session['author_logged_in'] %}
      <a href="{{ url_for('author.author_dashboard') }}" class="isolate w3-bar-item w3-button w3-padding-large w3-hide-small">Dashboard</a>
    {% else %}
      <a href="{{ url_for('author.author_login') }}" class="isolate w3-bar-item w3-button w3-padding-large w3-hide-small">Author Login</a>
    {% endif %}
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="{{ url_for('other.home') }}" class="w3-bar-item w3-button w3-padding-large" onclick="smallScreenToggle()">Home</a>
  <a href="{{ url_for('other.contact') }}" class="w3-bar-item w3-button w3-padding-large" onclick="smallScreenToggle()">Contact</a>
  <a href="{{ url_for('blogs.blog') }}" class="w3-bar-item w3-button w3-padding-large" onclick="smallScreenToggle()">Blog</a>
  <a href="{{ url_for('other.building') }}" class="w3-bar-item w3-button w3-padding-large" onclick="smallScreenToggle()">Building</a>
  <a href="{{ url_for('worksheets.worksheets_page') }}" class="w3-bar-item w3-button w3-padding-large" onclick="smallScreenToggle()">Worksheets</a>
  {% if session['logged_in'] %}
    <a href="{{ url_for('other.admin') }}" class="w3-bar-item w3-button w3-padding-large" onclick="smallScreenToggle()">Admin</a>
  {% endif %}
  {% if session['author_logged_in'] %}
    <a href="{{ url_for('author.author_dashboard') }}" class="w3-bar-item w3-button w3-padding-large" onclick="smallScreenToggle()">Dashboard</a>
  {% else %}
    <a href="{{ url_for('author.author_login') }}" class="w3-bar-item w3-button w3-padding-large" onclick="smallScreenToggle()">Author Login</a>
  {% endif %}
</div>

<br><br>

<div class="w3-container">
{% block body %}
{% endblock %}
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>

// Used to toggle the menu on small screens when clicking on the menu button
function smallScreenToggle() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
{% block script %}
{% endblock %}
</script>
</body>
</html>
