{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}


<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px;">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="/static/Jupiter,_image_taken_by_NASA's_Hubble_Space_Telescope,_June_2019_-_Edited.jpg" style="height:95vh;">
    <div class="w3-display-middle w3-container w3-text-black w3-padding-32 w3-xlarge">
      <p>How fast are the winds on Jupiter?</p>
      <p>What is the pressure inside of Jupiter?</p>
      <p>How long would it take to get to Jupiter?</p>
    </div>
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <p>By NASA, ESA, and A. Simon (NASA Goddard), edited by PlanetUser -
        <a href="https://www.nasa.gov/feature/goddard/2019/hubble-new-portrait-of-jupiter">https://www.nasa.gov/feature/goddard/2019/hubble-new-portrait-of-jupiter</a>
        , Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=81259729">https://commons.wikimedia.org/w/index.php?curid=81259729</a></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="static/supplyAndDemandPicture.png" style="height:95vh;">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="/static/deer.jpg" style="height:95vh;">
    <div class="w3-display-topright w3-container w3-text-black w3-padding-32 w3-xlarge">
      <p>Why don't the deer fall in the ice?</p>
      <p>Why does ice float when most solids sink?</p>
    </div>
  </div>

  <!-- The About me and Services -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">What is this website?</h2>
    <p class="w3-opacity"><i>We love learning!</i></p>
    <p class="w3-justify">
      This website has been designed to allow authors/tutors to display worksheets that they have
      made for potential learners to consume. The focus of the worksheets will be to quickly bring
      a person up to speed on a topic of interest. Worksheets will be made such that a broad
      audience will be able to understand the content. These general worksheets will be made available
      for free.
    </p>
    <p class="w3-justify">
      Eventually, worksheets covering particular applications will be made available for free or for
      purchase. An example would be an analysis of how important is the reaction time of a hockey goalie.
      Another could be an in-depth discussion about the planet Jupiter (how long it takes to get there,
      what would one-kilogram weight, etc.). These worksheets are meant to be both informative and fun.
    </p>
    <p class="w3-justify">
      For any suggestions on worksheets to cover feel free to email myself at kodyrogers21@gmail.com, or
      any of the other authors who have listed an email address.
    </p>
    <p class="w3-justify">
      If you want to become an author and post worksheets on this website email me at kodyrogers21@gmail.com.
    </p>
  </div>

  <!-- The Timeline Section
  The code for this timeline was greatly inspired by the css example on this link: https://codepen.io/allisonching/pen/XeLjGd
-->
  <div class="w3-black">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <ul class="timeline">
        <li>
          Create website to hold worksheets (Completed)
        </li>
        <li>
          Set-up website to handle paid worksheets (In Progress)
        </li>
        <li>
          Allow exclusive videos to be bundled into paid worksheets (In Progress)
        </li>
        <li>
          Add interactive webpages to website (In Progress)
        </li>
        <li>
          Allow learners and authors to set-up an account (In Progress)
        </li>
        <li>
          Allow the creation of premium paid interactive webpages (In Progress)
        </li>
    </ul>

    </div>
  </div>


  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="https://gmail.us4.list-manage.com/subscribe/post?u=caf3d492a81497a7639a70164&amp;id=0709041ae5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
    	<h2>Subscribe To Get Updates</h2>
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
    	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
    </label>
    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
    	<label for="mce-FNAME">First Name </label>
    	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
    </div>
    <div class="mc-field-group">
    	<label for="mce-LNAME">Last Name </label>
    	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
    </div>
    <div class="mc-field-group size1of2">
    	<label for="mce-BIRTHDAY-month">Birthday </label>
    	<div class="datefield">
    		<span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> /
    		<span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span>
    		<span class="small-meta nowrap">( mm / dd )</span>
    	</div>
    </div>	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_caf3d492a81497a7639a70164_0709041ae5" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
  </div>
</div>
<!-- End Page Content -->

{% endblock %}
