{% extends "base.html" %}
{% block title %}Learner Dashboard{% endblock %}
{% block body %}


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-twothird">
      <h1>Favourites</h1>

      <div style="overflow-y: scroll; height:400px;">
        <ul style="list-style-type:none">
          {% for worksheet in favourites %}
          <li>
            <a href="{{ url_for('static', filename=worksheet.pdf_url) }}" class="w3-btn w3-round-xlarge w3-orange">{{ worksheet.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    <!-- End Right Column -->
    </div>

    <!-- Left Column -->
    <div class="w3-third">
      <ul style="list-style-type:none">
        <li>
          <a href="{{ url_for('learner.learner_change_password', id=id) }}" class="w3-btn w3-round-xlarge w3-blue">Change Password</a>
          <a href="{{ url_for('learner.learner_change_screenname', id=id) }}" class="w3-btn w3-round-xlarge w3-blue">Change Screenname</a>
          <a href="{{ url_for('learner.learner_change_email', id=id) }}" class="w3-btn w3-round-xlarge w3-blue">Change Email</a>
          <a href="{{ url_for('learner.learner_logout') }}" class="w3-btn w3-round-xlarge w3-blue">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
