{% extends "base.html" %}
{% block title %}Author Dashboard{% endblock %}
{% block body %}


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <a href="{{ url_for('learner.learner_login') }}" class="w3-btn w3-round-xlarge w3-blue">Login</a>
    </div>
    <div class="w3-half">
      <a href="{{ url_for('learner.learner_signup') }}" class="w3-btn w3-round-xlarge w3-blue">Signup</a>
    </div>
  </div>
</div>

{% endblock %}
