<!--
Will need to use some sort of pdf preview to make the delivery of the pdfs pretty

Can use the w3grid to divide up the different authors (only two right now)

following link very useful: https://www.w3docs.com/snippets/html/how-to-embed-pdf-in-html.html
-->
{% extends "base.html" %}
{% block title %}Worksheets{% endblock %}

{% block body %}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-twothird">
      {% if worksheets %}
        {% for worksheet in worksheets %}
          <h2> {{ worksheet.name }} </h2>
          <iframe src="{{ url_for('static', filename=worksheet.pdf_url) }}" width="100%">
          </iframe>
          <p>
            <a href="{{ url_for('worksheets.worksheets_page', author=worksheet.author_id, category=None, page=0) }}">
              {% if worksheet.author.screenname is none %}
                More by the author: {{ worksheet.author.name }}
              {% else %}
                More by the author: {{ worksheet.author.screenname }}
              {% endif %}
            </a>
          </p>
          {% if session['learner_logged_in'] %}
          <p>
            {% if worksheet in favourites %}
            &#128151;
            {% else %}
            <a href="{{ url_for('learner.add_favourite', worksheet_id=worksheet.id, learner_id=learner_id) }}">&#128159;</a>
            {% endif %}
          </p>
          {% endif %}
          <p>
            Viewed or Downloaded {{ worksheet.count }} times
          </p>
          <p>
            {% if not worksheet.video_url == '' %}
              <a href="{{ worksheet.video_url }}">Video Tutorial</a>
            {% endif %}
          </p>
          <p>
          <a href="{{ url_for('worksheets.worksheets_count', id=worksheet.id) }}">View</a>
          </p>
        {% endfor %}
      {% endif %}

      <p>
        {% if prev_url %}
          <a href="{{ prev_url }}">Newer Worksheets</a>
        {% endif %}
        {% if next_url %}
          <a href="{{ next_url }}">Older Worksheets</a>
        {% endif %}
      </p>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-third">
      <h1>Categories</h1>

      <div style="overflow-y: scroll; height:400px;">
        <ul class="w3-ul w3-hoverable">
      {% for category in categories %}
      <li>
        <a href="{{ url_for('worksheets.worksheets_page', category=category.id, author=None, page=0) }}" class="w3-btn">{{ category.name }}</a>
      </li>
      {% endfor %}
        </ul>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

{% endblock %}
